<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SqlDatabase" connectionString="Data Source=DESKTOP-1VTQ7VI\SQLEXPRESS;Initial Catalog=ConsoleApp.DAL.EmployeeContext;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>